<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div class="mb-3">
                <p>Insulto giornaliero</p>
            </div>
            <div class="mb-3">
                <p>Il nostro progetto è destinato a insultare il prossimo.</p>
            </div>
	<button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
		Lingua
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<button ngbDropdownItem>Italiano</button>
		<button ngbDropdownItem>Francese</button>
		<button ngbDropdownItem>Russo</button>
		<button ngbDropdownItem>Inglese</button>
		<button ngbDropdownItem>Spagnolo</button>
		<button ngbDropdownItem>Tedesco</button>
	</div>
    <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
		Tipologia
	</button>
</div>

</div>
	
<button type="button" class="btn btn-outline-success me-2">
	Genera
</button>
<router-outlet></router-outlet>
<insult-generator></insult-generator>

<router-outlet></router-outlet>
