<p>Titolo</p>
<p>Spiegazione</p>
<p>Insulto</p>

<p>3 interazioni: Lingua / Tipologia / "Genera"</p>
<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
	<button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
		Lingua
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<button ngbDropdownItem>Italiano</button>
		<button ngbDropdownItem>Francese</button>
		<button ngbDropdownItem>Russo</button>
		<button ngbDropdownItem>Inglese</button>
		<button ngbDropdownItem>Spagnolo</button>
		<button ngbDropdownItem>Tedesco</button>
	</div>
</div>
<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
	<button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
		Tipologia
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<button ngbDropdownItem>Classico</button>
		<button ngbDropdownItem>Pirata</button>
		<button ngbDropdownItem>Shakespeare</button>
	</div>
</div>

<button type="button" class="btn btn-outline-success me-2" (click)="console.log("CIAOOO")">
	Genera
</button>


<p>Dovrei restituire l'insulto ;3</p>
